.center {
  text-align: center;
}

html {
  background-color: #ebf7ff;
}

.section-body {
  background-color: white;
  width: 450px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 15px 0px;
  margin-top: 7%;
  box-shadow: 5px 10px 18px gray;
}

table {
  margin: 0 auto;
  margin-top: 15px;
}

td {
  padding: 0px 65px;
}

.icon {
  color: #104e7a;
}

.icon:hover {
  color: red;
  transition: 0.5s ease;
}

h3 {
  text-align: left;
  color: #063251;
}

input {
  border-radius: 5px;
  border: none;
  padding: 8px 11px;
  width: auto;
  background-color: #f1f5f8;
}

button {
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  background-color: #e66000;
  box-shadow: 3px 3px 3px gray;
  border: none;
  font-size: 15px;
  font-weight: 600;
}

button:hover {
  background-color: green;
  transition: 0.3s;
  color: white;
  border: none;
}

h1 {
  color: #e66000;
}
